.container {
  padding: 0 2rem;
}

.main {
  min-height: 92vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.list {
  display: flex;
  gap: 20px;
}

ul {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 20px;
}

ul:hover {
  cursor: pointer;

  background-color: white;
  color: black;
}

.selected {
  background-color: blue;
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: black;
  padding: 10px;
  border-radius: 12px;
}
